@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
.app-header{
  display:flex;
  align-items:center;
  background:#EA0038;
  border-bottom:1px solid #eee;
  padding:14px 20px
}

.brand{
    display:flex;
    align-items:center;   
    padding-right: 20px;
}
.logo{
    width: 80px;
}
.main-nav{
    display:flex;
    flex-direction:row;
    gap:18px;
    align-items:center;
}

.nav-item{
    display:flex;
    align-items:center;
    background-color: transparent;
    border-radius: 0;
}

.nav-link{
    display:block;
    padding:8px 16px;
    color: #000;
    text-decoration: none;
    font-family: 'Holtwood One SC', serif;
    font-size:18px;
    letter-spacing:1px;
    text-transform:uppercase;
}

.nav-item:hover{background-color: #fff;border-radius:8px;opacity: 0.9;}

.nav-link.active{
    background:#fff;
    color:#000;
    border-radius:8px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06) inset;
}

