.menu-card{
    display:flex;
    flex-direction: column;
    gap:12px;
    padding:12px;
    border:1px solid #eee;
    border-radius:8px;
    background:#fff;
}
.menu-card .img-placeholder{
    width:96px;
    height:72px;
    background:#000;
    border-radius:6px;
}
.menu-card .menu-img{
    width:266px;
    height:266px;
    object-fit:cover;
    border-radius:6px;
    
}
.menu-card .content{flex:1}
.media{
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
.menu-title{margin:0 0 6px 0;font-size:20px}
.menu-desc{margin:0 0 8px 0;color:#666;font-size:15px}
.menu-price{font-weight:600;color:#111;font-size:20px}
.cart_button{
    width: 40%;
    height: 25%;
    background-color: #EA0038;
    color: #fff;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    cursor:pointer;
}
.edit_button{
    width: 40%;
    height: 25%;
    background-color: #EA0038;
    color: #fff;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor:pointer;
}
.delete_button{
    width: 40%;
    height: 25%;
    background-color: #EA0038;
    color: #fff;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 10px;
    cursor:pointer;
}
